rbac:
  create: true
serviceAccounts:
  controller:
    create: true
    name: ""
    annotations: {}
    labels: {}
commonMetaLabels: {}
controller:
  name: controller
  port: "4535"
  deploymentAnnotations: {}
  replicaCount: 1
  podAnnotations: {}
  podLabels: {}
  priorityClassName: ""
  schedulerName: ""
  extraInitContainers: []
  image:
    repository: ghcr.io/grzegorzgniadek/argocd-appset-substitute-plugin
    digest: ""
    pullPolicy: IfNotPresent
    tag: v1.1.0
  command:
    - /plugin
  env: []
  startupProbe:
    enabled: false
    periodSeconds: 5
    failureThreshold: 30
    timeoutSeconds: 10
  readinessProbe:
    initialDelaySeconds: 5
    periodSeconds: 10
  livenessProbe:
    initialDelaySeconds: 15
    periodSeconds: 20
  resources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
  clusterRoleNameOverride: ""
  releaseNamespace: false
  sidecarContainers: {}
  sidecarTemplateValues: {}
  imagePullSecrets: []
  extraArgs: {}
  extraVolumeMounts: []
  extraVolumes: []
  extraHostPathMounts: []
  extraConfigmapMounts: []
  extraSecretMounts: []
  configMapOverrideName: ""
  extraConfigmapLabels: {}
  fullnameOverride: ""
  persistentVolume:
    enabled: false
  emptyDir:
    sizeLimit: {}
  securityContext:
    runAsNonRoot: true
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop:
        - ALL
  nodeSelector: {}
  tolerations: []
  affinity: {}
  podAntiAffinity: {}
  hostAliases: []
  dnsConfig: {}
  topologySpreadConstraints: []
  secret:
    token: ""
  service:
    enabled: true
    annotations: {}
    labels: {}
    clusterIP: ""
    externalIPs: []
    loadBalancerIP: ""
    loadBalancerSourceRanges: []
    servicePort: 80
    sessionAffinity: None
    type: ClusterIP
    externalTrafficPolicy: ""
    additionalPorts: []
