name: CI

on:
  push:
    branches:
      - master
      - dev

permissions:
  contents: write
  packages: write

jobs:
  version:
    name: Version
    uses: ./.github/workflows/version.yaml

  e2e-tests:
    name: E2E Tests
    uses: ./.github/workflows/e2e-tests.yaml
    needs:
    - version
    with:
      version: ${{ needs.version.outputs.version }}
    secrets: inherit

  build-container:
    name: Build Container
    uses: ./.github/workflows/build-container.yaml
    needs:
    - version
    with:
      version: ${{ needs.version.outputs.version }}
    secrets: inherit

  release-charts:
    name: Release Charts
    uses: ./.github/workflows/release-charts-call.yaml
    needs:
    - version
    if: needs.version.outputs.version != 'none'
    secrets: inherit

  tagging:
    if: startsWith(needs.version.outputs.version, 'v')
    name: Tagging
    uses: ./.github/workflows/tagging.yaml
    needs:
    - version
    with:
      source: ${{ github.event.after }}
      tag: ${{ needs.version.outputs.version }}
      create-release: ${{ startsWith(needs.version.outputs.version, 'v') }}
      prerelease: ${{ endsWith(needs.version.outputs.version, 'rc') }}
    secrets: inherit