name: E2E Tests

on:
  workflow_call:
    inputs:
      version:
        description: "Calculated build version"
        type: string

permissions:
  contents: write
  packages: write

jobs:
  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: e2e
          kubectl_version: "v1.32.0"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: use make kind-testing
        run: make kind-testing