name: Build/Push Container 

on:
  push:
    paths-ignore:
    - 'charts/**'
    branches:
      - master
      - dev

permissions:
  contents: write
  packages: write

env:
  IMAGE_NAME: "ghcr.io/${{ github.repository }}"
  PLATFORMS: "linux/amd64,linux/arm64"

jobs:
  version:
    name: Version
    uses: ./.github/workflows/version.yaml

  buildx:
    runs-on: ubuntu-latest
    needs:
    - version
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: ${{ env.PLATFORMS }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: ${{ env.PLATFORMS }}
          context: .
          file: Dockerfile
          push: true
          build-args: |
            VERSION=${{ needs.version.outputs.version }}
          tags: ${{ env.IMAGE_NAME }}:${{ needs.version.outputs.version }}
